@import url(../fonts/marker.css);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --header-height: clamp(150px, 20vh, 500px);
}

.page {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, #00d2ff, #3a7bd5);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
  font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 0 20px 0 rgba(0, 0, 0, 0.5);
}

.header__title {
  text-transform: uppercase;
  font-size: 10rem;
  text-align: center;
}

.main {
  width: 100%;
  height: calc(100vh - var(--header-height) - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.playground-grid {
  width: 500px;
  height: 500px;
  box-sizing: unset;
  display: flex;
  flex-flow: row wrap;
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

.playground__block {
  width: 50px;
  height: 50px;
  border-top: 2px solid rgba(0, 0, 0, 0.8);
  border-left: 2px solid rgba(0, 0, 0, 0.8);
}

.playground__block:nth-of-type(10n) {
  border-right: 2px solid rgba(0, 0, 0, 0.8);
}

.footer {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-shadow: -20px 0 20px 0 rgba(0, 0, 0, 0.5);
  font-size: 2.5rem;
  gap: 2rem;
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in;
}

.footer__icon {
  object-fit: contain;
  width: 4rem;
}

@media (hover: hover) {
  .footer__link:hover {
    opacity: 0.7;
  }
}
